body{
    /* background-color: #2d332d; */
    background-color: #fffffd;
}
main{
    margin-top: 50px;
}
.header-text{
    justify-content: center;
    color: #fffffd;
    text-align: left;
    padding: 0%;
    margin: 0%;
}
.header-text h1{
    font-size: 2.2em;
}
.header-text p{
    font-size: 1.2em;
}
.header-buttons{
    justify-content: right;
    align-items: right;
    padding-right: 50px;
    gap: 30px;
    margin-right: 30px;
}
.header-buttons img{
    width: 40px;
    height: 40px;
    margin: 10px;
    accent-color: #fffffd;
    filter: invert(100%);
}
.column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.logo-filled{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;
}
.logo-filled p{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color:#fffffd;
    font-size: 0.9em;
}
.static-header{
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 20px;
    width: 100%;
    height:min-content;
    z-index: 1000;
    background-color: #2d332d;
    align-items: center;
    display: flex;
    justify-content: space-between;
    font-family: 'Courier New', Courier, monospace;
}
.round-logo{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}